

<div>
    <img src='~/img/cover page photo.png' class="style-coverImage" />
    <div>
        <img  src='~/img/profile picture.png' class="style-profileImage"/>

        <span class="name-style"> Abdelaliem Hosny</span>
        <img  src='~/img/icon- edit.png' class="edit-style"/>
    </div>

    <div class="about-style">

    </div>
</div>