@*@model RegisterVM;*@

@{
    ViewData["Title"] = "Register";
}


<div class="container mt-5">
    <div class="row">
        <div class="col-md-5 d-flex align-items-center">
            <p>
                <h1>Sign up for a new account</h1>
            </p>
        </div>

        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry </b> - @TempData["Error"] </span>
            </div>
        }

        <div class="col-md-6 offset-md-1">
            <form name="myForm" novalidate class="mt-4 mt-md-0">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label>First Name </label>
                    <input type="text" class="form-control" ng-model="user.firstName"
                         id="firstName"  name="firstName" placeholder="Enter First Name" 
                           required />
                    @*<span ng-show="myForm.$submitted">
                            <label class="text-danger" ng-show="myForm.firstName.$error.required">
                                First Name  is required !
                            </label>
                        </span>*@
                </div>
                <div class="form-group">
                    <label>Last Name </label>
                    <input type="text" class="form-control" ng-model="user.lastName"
                       id="lastName"     name="lastName" placeholder="Enter Last Name"
                           required />
                    @*<span ng-show="myForm.$submitted">
                            <label class="text-danger" ng-show="myForm.lastName.$error.required">
                                Last Name  is required !
                            </label>
                        </span>*@
                </div>
                <div class="form-group">
                    <label>Email </label>
                    <input type="email" class="form-control" ng-model="user.email"
                         id="email"   name="email" placeholder="Enter Email"
                           required />
                    @*<span ng-show="myForm.$submitted">
                            <label class="text-danger" ng-show="myForm.email.$error.required">
                                Email  is required !
                            </label>
                        </span>*@
                </div>
                <div class="form-group">
                    <label>Password </label>
                    <input type="password" class="form-control" ng-model="user.password"
                        id="password"   name="password" placeholder="Enter Password"
                           required />
                    @*<span ng-show="myForm.$submitted">
                            <label class="text-danger" ng-show="myForm.password.$error.required">
                                password  is required !
                            </label>
                        </span>*@
                </div>


                <div class="form-group mt-4 d-flex">
                    <input class="btn btn-success b1 mx-2 float-right" 
                            type="button" id="btnSave"
                            value="Sign up" /> 
                    <a class="btn b2 btn-danger  float-left" asp-controller="Home" asp-action="Index">Cancle </a>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script>
    $(document).ready(function () {
        $("#btnSave").click(function () {
            var senddata = {
                firstName: $("#firstName").val(),
                lastName: $("#lastName").val(),
                username: $("#firstName").val(),
                email: $("#email").val(),
                password: $("#password").val(),
               
            };


            console.log(senddata);
            console.log(JSON.stringify(senddata));
        $.ajax({
            url: 'https://localhost:44391/api/Auth/Register',
            method: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(senddata),
        success: function (data) {
            window.location.href="/Account/Login"
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Excpetion " + errorThrown + XMLHttpRequest);
        }
    });



        });
    })

    </script>
  
}
