<!DOCTYPE html>
<html lang="en" ng-app="myApp" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProfileWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ProfileWeb</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Index">Profile</a>
                            @*<a class="nav-link text-dark" href="#!expericence">Profile</a>*@
                            @*<a class="nav-link text-dark" href="/#/expericence">Profile</a>*@
                        </li>
                    </ul>
                    <div id="showBu"></div>
                    @*<partial name="IdentityView.cshtml" />*@
                </div>
            </div>
        </nav>
    </header>
    @*<div class="container" ng-view  >*@
    <div class="container" >
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ProfileWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    @*<script src="~/js/angular-route.js"></script>
    <script src="~/js/angular-ui.js"></script>*@
    <script src="~/js/profilejs.js"></script>
    @* <script src="~/js/account.js"></script>
        <script src="~/js/routing.js"></script>*@
    @*<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>*@

    <script>
        $(document).ready(function () {
            user = localStorage.getItem("ActiveUser");
            var user2;
            if (!user == "") {
                user2 = JSON.parse(user);

            }
            token = localStorage.getItem("token");
            if (token == "" && user == "") {
                $("#showBu").append(`<a class="btn btn-outline-info b1 my-2 my-sm-0"
                   id="gotoLogin"
               asp-controller="Account" asp-action="Login">
            <i class="bi bi-box-arrow-in-right" ></i> Login
        </a>
        <span style="padding: 5px;"></span>

        <a class="btn b2 btn-outline-primary my-2 my-sm-0" id="gotoRegister"  asp-controller="Account" asp-action="Register">
            <i class="bi bi-person-plus"></i> Register
        </a>`);
            } else {
                $("#showBu").append(`  <i class="bi bi-person-badge"></i> Hello ${user2.username}
                <button id="gotoLogOut" class="btn btn-danger b2 my-2 my-sm-0">
                <i class="bi bi-box-arrow-in-right"></i> LogOut
            </button>`)
            }

            //console.log(user.email)
            console.log(user)
            //console.log(token)


            $("#gotoRegister").click(function () {
                window.location.href = "/Account/Register"
            })
            $("#gotoLogin").click(function () {
                window.location.href = "/Account/Login"
            })
            $("#gotoLogOut").click(function () {
                localStorage.setItem("ActiveUser", "");
                localStorage.setItem("token", "");
                localStorage.setItem("userId", "");
                window.location.href = "/Home/Index"
            })
        })

    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
