@using Microsoft.AspNetCore.Identity


@if (!User.Identity.IsAuthenticated)
{
    <a class="btn btn-outline-info b1 my-2 my-sm-0" asp-controller="Account" asp-action="Login">
        <i class="bi bi-box-arrow-in-right"></i> Login
    </a>
    <span style="padding: 5px;"></span>

    <a class="btn b2 btn-outline-primary my-2 my-sm-0" asp-controller="Account" asp-action="Register">
        <i class="bi bi-person-plus"></i> Register
    </a>

}
else
{

    @*User profile section*@

    <div class="dropdown">
        <button class="btn b1 dropdown-toggle"
                type="button" id="profile-btn" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-badge"></i> Hello @User.Identity?.Name!
        </button>
        <ul class="dropdown-menu" aria-labelledby="profile-btn">
            @*@if (User.IsInRole("User"))
                {
                    <li>
                        <a class="dropdown-item" asp-action="UserProfile" asp-controller="Account" asp-route-id="@UserManager.GetUserId(User)">
                            <i class="bi bi-person-circle"></i>Profile
                        </a>
                    </li>

                }*@


        </ul>
    </div>

    <span style="padding: 5px;"></span>
    <form asp-controller="Account" asp-action="Logout">
        <button class="btn b2 my-2 my-sm-0">
            <i class="bi bi-box-arrow-in-right"></i> LogOut
        </button>
    </form>
}

@section scripts{
    <script>
        $(document).ready(function () {
            alert("aaa")
        user = JSON.parse(localStorage.getItem("ActiveUser"));
        token = localStorage.getItem("token");
        console.log(user)
        console.log(token)
    })
    </script>
}